script(src='js/jquery-3.2.1.min.js')
script(src='js/angular.min.js')

script(src='js/plugins/jquery.maskedinput.js')
script(src='js/plugins/pace.min.js')
script(src='js/plugins/slick.min.js')
script(src='js/plugins/jquery.fancybox.min.js')
script(src='js/plugins/ScrollMagic.min.js')
script(src='js/plugins/TweenMax.min.js')
script(src='js/plugins/wow.min.js')
script(src='//api-maps.yandex.ru/2.0.46/?load=package.full&mode=debug&lang=ru-RU', type='text/javascript')


script(src='external/callbacks.js')
script(src='js/app.js')

//include ../../external/closer.html