header
	.container
		a.logo(href="")
			img(src="images/logo.png", alt="")
			span Арахис глазированный
		a.btn-border.btn(data-fancybox data-src="#zapros-kp" href="javascript:;") #[span Запросить КП]
		.contact
			a.phone(href="tel:+78007771528") +7 (800) 777-15-28
			a.mail(href="mailto:zakaz-arahis@yandex.ru") zakaz-arahis@yandex.ru