doctype html
html
	include includes/common/head.pug
	body(ng-app="app" ng-controller="appController")
		include external/body_start.html
		include includes/common/header.pug

		include includes/partials/01-homescreen.pug
		include includes/partials/02-calc.pug
		include includes/partials/03-cooperation.pug
		include includes/partials/04-types.pug
		include includes/partials/05-flavours.pug
		include includes/partials/06-activity-field.pug
		include includes/partials/07-get-kp.pug
		include includes/partials/08-terms.pug
		include includes/partials/09-quality.pug
		include includes/partials/10-special-conditions.pug
		include includes/partials/11-partners.pug
		include includes/partials/12-checkout.pug
		include includes/partials/13-boss.pug
		include includes/partials/14-documents.pug

		include includes/common/footer.pug
		include external/body_end.html
		include includes/common/popups.pug
	include includes/common/closer.pug
