#homescreen
	.bg1
		img.n1.spin-it(src="images/01-bg-02-1.png", alt="")
		img.n2.spin-it(src="images/01-bg-02-2.png", alt="")
	.container
		.pic
			img.n1(src="images/01-pic.png", alt="")
			img.n2.spin-it(src="images/01-pic-1.png", alt="")
			img.n3.spin-it(src="images/01-pic-2.png", alt="")
			img.n4.spin-it(src="images/01-pic-3.png", alt="")
			img.n5.spin-it(src="images/01-pic-4.png", alt="")
		.text
			h1 Арахис
				span в хрустящей корочке
			h2 напрямую от производителя <br>с гарантией качества продукта
			ul.clear
				li Доставка по всей России  
				li Система скидок
				li Сертификаты качества
				li От 100 килограмм 
			a.btn.btn-green(data-fancybox data-src="#order" href="javascript:;") #[span Заказать]
