#cooperation
	.container
		h2 Сотрудничать с компанией «Уральский лидер» <br>удобно и выгодно
		.bx.n1
			.pic
			p Свое производство
			span Высокое качество и низкие цены: <br>Вы покупаете продукцию напрямую <br>у производителя, без посредников 
		.bx.n2
			.pic
			p Богатый ассортимент
			span Премиум и эконом линейки продукции, <br>12 различных вкусов, возможность выпуска <br>арахиса под Вашей маркой
		.bx.n3
			.pic
			p Доставка по всей России
			span Вы сами можете выбрать способ доставки, <br>а при заказе большой партии <br>мы компенсируем часть ее стоимости
		.bx.n4
			.pic
			p Система скидок 
			span Специальные условия в зависимости <br>от объема заказа, сроков сотрудничества <br>и формы оплаты
		.bx.n5
			.pic
			p Любые объемы партии
			span Мы готовы отправить Вам партию <br>любого объема, начиная от 100 килограмм. <br>В день производим 6 тонн арахиса
		.bx.n6
			.pic
			p Высокое качество
			span Сырье и продукция проходят <br>тщательный контроль качества, <br>вся продукция сертифицирована