#types
	.bg
	.container
		h2 Мы предлагаем Вам на выбор <br>3 вида нашей продукции
		.bx.n1
			img(src="images/04-box-1.png", alt="")
			p Премиум-арахис в корочке <br>ХрустNut - продукт наивысшего качества, <br>изговленный без применения пальмового масла
		.bx.n2
			img(src="images/04-box-2.png", alt="")
			p Арахис в корочке и жареный арахис <br>под Вашим брендом
		.bx.n3
			img(src="images/04-box-3.png", alt="")
			p Арахис в корочке и арахис <br>с различными вкусами ХрустОК - лучший выбор <br>по соотношению цена/качество