#flavours
	.container
		h2 Самые популярные вкусы арахиса <br>для Вас и Ваших клиентов
		.bx.n1
			.pic
				img.pic-1(src="images/05-flavours/01.jpg", alt="")
				img.pic-2(src="images/05-flavours/01-1.jpg", alt="")
			span.text Васаби
		.bx.n2
			.pic
				img.pic-1(src="images/05-flavours/02.jpg", alt="")
				img.pic-2(src="images/05-flavours/02-1.jpg", alt="")
			span.text Сыр
		.bx.n3
			.pic
				img.pic-1(src="images/05-flavours/03.jpg", alt="")
				img.pic-2(src="images/05-flavours/03-1.jpg", alt="")
			span.text Креветка
		.bx.n4
			.pic
				img.pic-1(src="images/05-flavours/04.jpg", alt="")
				img.pic-2(src="images/05-flavours/04-1.jpg", alt="")
			span.text Аджика
		.bx.n5
			.pic
				img.pic-1(src="images/05-flavours/05.jpg", alt="")
				img.pic-2(src="images/05-flavours/05-1.jpg", alt="")
			span.text Барбекю
		.bx.n6
			.pic
				img.pic-1(src="images/05-flavours/06.jpg", alt="")
				img.pic-2(src="images/05-flavours/06-1.jpg", alt="")
			span.text Бекон
		.bx.n7
			.pic
				img.pic-1(src="images/05-flavours/07.jpg", alt="")
				img.pic-2(src="images/05-flavours/07-1.jpg", alt="")
			span.text ПИКАНТНЫЙ
		.bx.n8
			.pic
				img.pic-1(src="images/05-flavours/08.jpg", alt="")
				img.pic-2(src="images/05-flavours/08-1.jpg", alt="")
			span.text Салями
		.bx.n9
			.pic
				img.pic-1(src="images/05-flavours/09.jpg", alt="")
				img.pic-2(src="images/05-flavours/09-1.jpg", alt="")
			span.text Сметана и лук
		.bx.n10
			.pic
				img.pic-1(src="images/05-flavours/10.jpg", alt="")
				img.pic-2(src="images/05-flavours/10-1.jpg", alt="")
			span.text Холодец с хреном
		.bx.n11
			.pic
				img.pic-1(src="images/05-flavours/11.jpg", alt="")
				img.pic-2(src="images/05-flavours/11-1.jpg", alt="")
			span.text Шашлык
		.bx.n12
			.pic
				img.pic-1(src="images/05-flavours/13.jpg", alt="")
				img.pic-2(src="images/05-flavours/13-1.jpg", alt="")
			span.text Грибы Сметана
		.bx.blank
		.bx.n12
			.pic
				img.pic-1(src="images/05-flavours/14.jpg", alt="")
				img.pic-2(src="images/05-flavours/14-1.jpg", alt="")
			span.text MIX 3 вкуса
		.bx.n12
			.pic
				img.pic-1(src="images/05-flavours/12.jpg", alt="")
				img.pic-2(src="images/05-flavours/12-1.jpg", alt="")
			span.text Ваш вкус
		.clear.mb15
		.form
			h2 Хотите самостоятельно рассчитать стоимость заказа?<br>Скачайте подробный прайс-лист с перечнем скидок
			a.btn-green.btn(data-fancybox data-src="#download" href="javascript:;") #[span Скачать прайс-лист]