#activity-field
	.container
		h2 Если Вы работаете в одной из этих сфер...
		.spot.n1
			span рыбные магазины
		.spot.n2
			span магазины пива
		.spot.n3
			span кафе и рестораны
		.spot.n4
			span оптовые компании
		.spot.n5
			span продуктовые магазины
		.spot.n6
			span пивные бары
		.spot.n7
			span клубы
		.spot.n8
			span бани