#terms
	.container
		h2 Мы предлагаем Вам выгодные условия сотрудничества - <br>вся продукция изготавливается на нашем собственном производстве
		.clear
			.slider-for
				img(src="images/08-slider/01.jpg", alt="")
				img(src="images/08-slider/02.jpg", alt="")
				img(src="images/08-slider/03.jpg", alt="")
				img(src="images/08-slider/04.jpg", alt="")
				img(src="images/08-slider/05.jpg", alt="")
				img(src="images/08-slider/06.jpg", alt="")
			.text
				p.n1 Наша основная задача - выпускать продукцию стабильно высокого качества и постоянно делать ее лучше и разнообразнее.
				p.n2 Наши сотрудники - настоящие профессионалы, ведь мы не берем их со стороны. На руководящих должностях у нас работают люди, прошедшие в нашей компании все ступени производства.
				p.n3 На сегодняшний день в компании "Уральский лидер"
				p.n4 работает #[span 62] человека.
				p.n5 Средний возраст сотрудников - #[span 32] года.
		.slider-nav
			img(src="images/08-slider/01.jpg", alt="")
			img(src="images/08-slider/02.jpg", alt="")
			img(src="images/08-slider/03.jpg", alt="")
			img(src="images/08-slider/04.jpg", alt="")
			img(src="images/08-slider/05.jpg", alt="")
			img(src="images/08-slider/06.jpg", alt="")