#quality
	.container
		h2 Вы получаете только лучшее - <br>вся продукция проходит тщательный контроль качества
		.inn
			.txt
				p.n1.wow.slideInRight(data-wow-delay="0.5s") Тщательный отбор поставщиков сырья
				p.n2.wow.slideInRight(data-wow-delay="1s") Лабораторный контроль продукции при <br>поступлении на склад
				p.n3.wow.slideInRight(data-wow-delay="1.5s") Многоэтапный лабораторный контроль готовой <br>продукции
				p.n4.wow.slideInRight(data-wow-delay="2s") Образцы продукции из каждой партии хранятся в течение года, <br>чтобы при необходимости убедиться в их качестве
			a.pic(href="images/09-pic.jpg" data-fancybox)
				img(src="images/09-bg-2.jpg", alt="")