#partners
	.container
		h2 Эти компании уже зарабатывают вместе с нами:
		.clear
			.logo.n1
			.logo.n2
			.logo.n3
			.logo.n4
			.logo.n5
			.logo.n6
			.logo.n7
			.logo.n8
			.logo.n9
		.link
			a(data-fancybox="thanx" href="images/11-thanx/01.jpg") Посмотреть благодарности клиентов
			a(data-fancybox="thanx" href="images/11-thanx/02.jpg")