#boss
	.container
		h2 Обращение директора компании
		img.photo(src="images/13-pic.jpg", alt="")
		.text.clear
			p "Уральский лидер" - это не просто качественная продукция, которую мы выпускаем под своими брендами.
			p Это еще и возможность для Вас запустить на наших мощностях производство продукции под собственным брендом, выйти на новые рынки и получить дополнительную прибыль.
			p При этом для нас очень важно сохранять высокое качество продукции. Поэтому мы используем только качественные компоненты и постоянно совершенствуем нашу технологию производства.
			p Я буду очень признателен, если Вы напишете мне свои впечатления от нашего продукта и от сотрудничества с нами на мой личный электронный адрес: evgeniy-asabin@ullider.ru 
			p Я обязательно отвечу на Ваше письмо!
			.author
				span.n1 Директор ООО «Уральский лидер»
				span.n2 Асабин Евгений Владимирович
